<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head'); %>

    <link rel="stylesheet" href="css/404.css" />
  </head>
  <body>
    <div class="error-page">
      <h1 class="error-page__header">404</h1>
      <p class="error-page__subtext">page not found</p>
      <a class="error-page__link-home" href="/" rel="noopener noreferrer">go home</a>
    </div>
  </body>
</html>
