<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head'); %>

    <link rel="stylesheet" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    <form class="home-page js-home-page" method="post">
      <h1 class="home-page__header">Secret Message</h1>
      <div class="home-page__message-wrapper">
        <textarea
          class="home-page__message js-home-page__message"
          name="area"
        ></textarea>
        <p class="home-page__message-limit js-home-page__message-limit">
          0/500
        </p>
      </div>
      <div class="home-page__password-wrapper">
        <input class="home-page__password js-home-page__password" type="text" />
        <p class="home-page__password-info">4-8 length</p>
      </div>
      <button class="home-page__submit js-home-page__submit" type="submit">
        send
      </button>
    </form>

    <div class="link-page js-link-page">
      <h1 class="link-page__header">url</h1>
      <p class="link-page__link js-link-page__link"></p>
      <button class="link-page__copy js-link-page__copy">copy</button>
    </div>
  </body>
</html>
