<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head'); %>

    <link rel="stylesheet" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    <h1 class="message-header">Secret Message</h1>
    <form class="message-form" method="post">
      <div class="message-form__text">
        <textarea id="textarea" name="area"></textarea>
        <p>0/200</p>
      </div>

      <div class="message-form__password">
        <input type="text">
        <p>4-8 length</p>
      </div>

      <button class="message-form__submit" type="submit">Send</button>
    </form>
  </body>
</html>
