<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Secret messages | Node.js Express</title>

    <link rel="stylesheet" href="css/home.css" />
    <script defer src="js/home.js"></script>
  </head>
  <body>
    <h1>Home</h1>
    <form id='form' method="post">
      <textarea id='textarea' name="area" cols="30" rows="10"></textarea>
      <button type="submit">Send</button>
    </form>
  </body>
</html>
