<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head'); %>

    <link rel="stylesheet" href="css/message.css" />
  </head>
  <body>
    <div class="message-page">
      <h1 class="message-page__header">message</h1>
      <div class="message-page__wrapper">
        <p class="message-page__text"><%= messageText %></p>
      </div>
      <a class="message-page__link-home" href="/" rel="noopener noreferrer">go home</a>
    </div>
  </body>
</html>
