<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../include/head'); %>

    <link rel="stylesheet" href="css/password.css" />
    <script defer src="js/password.js"></script>
  </head>
  <body>
    <form class="password-page" method="post">
      <h1 class="password-page__header">password</h1>
      <input class="password-page__input" type="text">
      <button class="password-page__submit" type="submit">send</button>
    </form>
  </body>
</html>