.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-page__header {
  margin-bottom: 20px;
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.home-page__message-wrapper {
  display: flex;
  flex-direction: column;
}

.home-page__message:not(.error) {
  width: 80vw;
  max-width: 400px;
  height: 50vh;
  max-height: 400px;
  padding: 0 4px 0 10px;

  font-size: 1.8rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
  outline: none;
  resize: none;
}
.home-page__message {
  width: 80vw;
  max-width: 400px;
  height: 50vh;
  max-height: 400px;
  padding: 0 4px 0 10px;

  font-size: 1.8rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 2px solid var(--red);
  border-radius: var(--radius);
  outline: none;
  resize: none;
}

.home-page__message:focus {
  filter: contrast(110%);
}

.home-page__message-limit {
  align-self: flex-end;
  color: var(--pink);
}

.home-page__password-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.home-page__password:not(.error) {
  align-self: center;
  width: 200px;
  height: 30px;
  padding-top: 2px;

  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
  outline: none;
}
.home-page__password {
  align-self: center;
  width: 200px;
  height: 30px;
  padding-top: 2px;

  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 2px solid var(--red);
  border-radius: var(--radius);
  outline: none;
}
.home-page__password:focus {
  filter: contrast(110%);
}

.home-page__password-info {
  align-self: center;
  color: var(--pink);
  font-size: 0.8rem;
  text-transform: lowercase;
}

.home-page__submit {
  align-self: center;
  width: 60vw;
  max-width: 120px;
  height: 40px;
  margin-top: 10px;

  color: var(--yellow);
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
  outline: none;
}

.home-page__submit:hover {
  filter: contrast(140%);
}
.home-page__submit:focus {
  filter: contrast(200%);
}


/* Link block */
.link-page {
  display: none;
  flex-direction: column;
  align-items: center;
}

.link-page__header {
  margin-bottom: 20px;
  font-size: 3rem;
  line-height: 3rem;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.link-page__link {
  padding: 10px;
  border-radius: var(--radius);
  background-color: var(--yellow);
  color: var(--orange);
  font-size: 1.1rem;
  filter: contrast(110%);
  text-decoration: underline;
}

.link-page__copy {
  margin-top: 10px;
  padding: 10px 18px;
  color: var(--yellow);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
}

.link-page__copy:hover {
  filter: contrast(140%);
}
.link-page__copy:active {
  filter: contrast(200%);
  transform: translateY(2px);
}