.message-page {
  display: none;
  flex-direction: column;
  align-items: center;
}

.message-page__header {
  margin-bottom: 20px;
  font-size: 2.4rem;
  line-height: 2.4rem;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.message-page__wrapper {
  width: 90vw;
  max-width: 400px;

  border: 1px solid var(--pink);
  border-radius: var(--radius);
  background-color: var(--yellow);
  filter: contrast(106%);
}
.message-page__text {
  word-wrap: break-word;
  padding: 16px 14px;
  color: var(--orange);
  font-size: 1.2rem;
  line-height: 1.39rem;
  text-align: center;
}

.message-page__link-home {
  margin-top: 20px;
  padding: 10px;
  color: var(--yellow);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
}

.message-page__link-home:hover {
  filter: contrast(140%);
}
.message-page__link-home:active {
  filter: contrast(200%);
  transform: translateY(2px);
}


/* Password block */
.password-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password-page__header {
  margin-bottom: 14px;
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: bold;
  color: var(--orange);
  text-transform: uppercase;
}

.password-page__input:not(.error) {
  align-self: center;
  width: 200px;
  height: 30px;
  padding-top: 2px;

  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
  outline: none;
}

.password-page__input {
  align-self: center;
  width: 200px;
  height: 30px;
  padding-top: 2px;

  text-align: center;
  font-size: 1.4rem;
  line-height: 1.5rem;
  color: var(--pink);
  background-color: var(--yellow);
  border: 1px solid var(--red);
  border-radius: var(--radius);
  outline: none;
}

.password-page__submit {
  margin-top: 14px;
  padding: 10px 20px;
  color: var(--yellow);
  font-size: 1.1rem;
  font-weight: bold;
  text-transform: uppercase;

  background-color: var(--orange);
  border: 1px solid var(--orange);
  border-radius: var(--radius);
}